[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest-pycharm = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
tox-pyenv = "*"
twine = "*"

[packages]
astor = "*"
atomos = "*"
click = "*"
pyfunctional = "*"
pyrsistent = "*"
python-dateutil = "*"
basilisp = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3.6"
