[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coveralls = "*"
mypy = "*"
prospector = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
yapf = "*"
tox = "*"
tox-pyenv = "*"

[packages]
astor = "*"
atomos = "*"
click = "*"
pyfunctional = "*"
pyrsistent = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
