[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pyflakes = "*"
pytest = "*"
yapf = "*"
mypy = "*"
autoflake = "*"
pytest-cov = "*"

[packages]
astor = "*"
pyrsistent = "*"
wrapt = "*"
atomos = "*"
python-dateutil = "*"
pyfunctional = "*"

[requires]
python_version = "3.6"
