version: 2
jobs:
  build:
    docker:
      - image: chrisrink10/pyenv:3.6-3.7-3.8dev-0.0.4
        user: pyenv
    steps:
      - checkout
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install tox
          shell: /bin/bash -leo pipefail
          command: |
            pip install tox
      - run:
          name: Run Tests
          shell: /bin/bash -leo pipefail
          environment:
            PYTEST_NUM_CORES: 2
            TOX_NUM_CORES: 2
          command: |
            tox -e coverage,mypy,format,lint,safety
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".tox"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
