version: 2
jobs:
  test-cpython:
    docker:
      - image: chrisrink10/pyenv:3.6-3.7-3.8dev-0.0.5
        user: pyenv
    steps:
      - checkout
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install tox
          shell: /bin/bash -leo pipefail
          command: |
            pip install tox
      - run:
          name: Run Tests
          shell: /bin/bash -leo pipefail
          environment:
            TOX_NUM_CORES: 2
            TOX_SHOW_OUTPUT: "True"
          command: |
            tox -p $TOX_NUM_CORES -e py36,py37,coverage,mypy,format,lint,safety
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "/home/pyenv/.tox"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      - store_artifacts:
          path: .junit
      - store_test_results:
          path: .junit

  test-pypy:
    docker:
      - image: pypy:3.6-7.0-slim-jessie
    steps:
      - checkout
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install tox
          command: |
            pip install tox
      - run:
          name: Run Tests
          command: |
            tox -e pypy3
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "/home/pyenv/.tox"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      - store_artifacts:
          path: .junit
      - store_test_results:
          path: .junit

workflows:
  version: 2
  test:
    jobs:
      - test-cpython
      - test-pypy
