sphinx>=7.1.0,<8.0.0
sphinx-rtd-theme>=2.0.0,<3.0.0
# The Read the Docs CI build is facing an issue where it doesn't
# automatically identify the correct dependencies versions compatible
# with Sphinx 4.4.0.  As a result, we need to explicitly specify these
# versions.
sphinxcontrib-applehelp>=1.0.8,<2.0.0
sphinxcontrib-devhelp>=1.0.6,<2.0.0
sphinxcontrib-htmlhelp>=2.0.5,<3.0.0
sphinxcontrib-qthelp>=1.0.7,<2.0.0
sphinxcontrib-serializinghtml>=1.1.10,<2.0.0
